################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/WMIWatcher_uTest/bin
/.vs/WMIWatcher/v15/Server/sqlite3
/WMIWatcher_uTest/obj
/.vs/WMIWatcher
/bin/Debug/netcoreapp3.0/win7-x64
