################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj
/WMIWatcher_uTest/bin
/WMIWatcher_uTest/obj
/.vs/
/bin/
